h1  {
    font-size: 10px;
}
p { 
    color: blue;
}
#links{
    margin-top:50px;
    padding-bottom: 10px;
    font-size: 30px;
    color: brown;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form {
    display: grid;
}